<div class="container wrapper">
    <div class="row">
        <!-- Issue table -->
        <div class="col-md-12">
            <div class="inner">
                <div style="margin-top: 5px;">
                    <span class="col-md-4" style="float:left; font-size:25px;">
                        <p>Categories</p>
                    </span>
                    <!-- <span class="col-md-4" *ngIf="showMsg" 
                    style="margin-left: 400px; position:relative;
                    margin-right: 400px;                    
                    padding-left: 30px;">
                    <p class="alert alert-success"> {{message}}</p>
                    </span> -->
                    <span class="col-md-4"><button style="float:right" type="button" class="btn btn-success btn-sm move-right"
                            routerLink="/category-add">Add</button></span>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories">
                            <th scope="row">{{category.id}}</th>
                            <td>{{category.name}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right"
                                    [routerLink]="['/category/', category.id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm"
                                    (click)="openModal(category)">Delete</button>
                                <!-- 
                                <button class="btn btn-lg btn-outline-primary" 
                                (click)="openModal('category')">Open My
                                    Modal</button> -->


                                <!-- <button type="button" class="btn btn-danger btn-sm"
                                    (click)="deleteIusse(issues)">Remove</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>